@import './style-variables.scss';
@import '~react-toastify/dist/ReactToastify.css';

body {
  font-family: $primary-font;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  outline: none;

  &:focus {
    outline: none;
  }
}

@import './global-classes.scss';
@import './spending-tracker.scss';
@import './header.scss';
