@import './style-variables.scss';
@import '~react-toastify/dist/ReactToastify.css';

body {
  font-family: $primary-font;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../greenGoldBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

input {
  outline: none;

  &:focus {
    outline: none;
  }
}

.App {
  width: 93vw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    'headerLayout headerLayout headerLayout'
    'masterSidebar dashboardView spendingSidebar';
  grid-gap: $grid-gap;

  .header {
    grid-area: headerLayout;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: $xlight;
  filter: opacity(95%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
}

.logo {
  max-height: 5rem;
}

@import './global-classes.scss';
@import './spending-tracker.scss';
@import './header.scss';
@import './dashboard-view.scss';
@import './master-sidebar.scss';
@import './gateway.scss';
