@import './style-variables.scss';

.dashboardView {
  grid-area: dashboardView;
  background-color: $green-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: $set-shadow;
  padding: 0 1rem;
}

@import './record-transaction.scss';
@import './transaction-history.scss';
