@import './style-variables.scss';

.header {
  background-color: $light;
  border-radius: 20px;
  border: solid 2px $accent;
  box-shadow: 2px 2px 0 $shadow;
  color: $dark;
  font-size: 1.1rem;
  margin: 1rem 0;
  padding: 1rem;

  span {
    color: $accent-text;
    font-size: 4rem;
    font-family: $accent-font;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }

  select {
    padding: 0.5rem 1.5rem;
    font-family: $primary-font;
    color: $dark;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;

    option:active {
      background-color: $primary;
    }
  }
}
