@import './style-variables.scss';

.header {
  background-color: $light;
  color: $dark;
  box-shadow: 0 2px 4px $forest-green;
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;

  span {
    color: $dark;
    font-size: 1rem;
    font-family: $accent-font;
    padding: 0.5rem 1rem;
  }

  .datePicker {
    align-self: flex-end;
  }

  .datePickerCustomInput {
    height: 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 2rem;
    font-family: $accent-font;
    background-color: $light;
    text-transform: uppercase;
    border: outset 1px;
    cursor: pointer;
    color: $dark;
    min-width: 20rem;

    &:active {
      border: inset 1px;
    }
  }
}

@import '~react-datepicker/dist/react-datepicker.css';
