@import './style-variables.scss';

.header {
  background-color: $light;
  color: $dark;
  box-shadow: 0 2px 4px $forest-green;
  font-size: 1.1rem;
  padding: 1rem;
  top: 0;
  width: 100%;
  z-index: 99;
  position: absolute;

  span {
    color: $accent-text;
    font-size: 4rem;
    font-family: $accent-font;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }

  select {
    padding: 0.5rem 1.5rem;
    font-family: $primary-font;
    color: $dark;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;

    option:active {
      background-color: $primary;
    }
  }
}
