@import './style-variables.scss';

.spendingSidebar {
  grid-area: spendingSidebar;
}

.spending-tracker {
  color: $dark;
  box-shadow: $set-shadow;

  h3 {
    text-align: center;
    background-color: $primary;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }

  button {
    padding: 0.75rem 0;
    margin: 0;
    width: 100%;
    border: solid 1px $primary;

    &:hover {
      background-color: $hover;
    }

    &:active {
      border: inset px $primary-dark;
    }
  }

  .cancel-button:hover {
    background-color: $hover-gold;
  }

  .categoryLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    font-size: 1rem;
    background-color: $green-white;
    border: solid 1px $primary;
    border-top: none;

    &:hover {
      background-color: $hover;
      cursor: pointer;
    }

    &:active {
      background-color: $primary-dark;
    }

    .categoryName {
      padding: 0.75rem 1rem;
    }
    .budgetValues {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      span:nth-of-type(1) {
        font-family: $important-font;
        font-size: 1rem;
        margin: 0 0.5rem;
      }
      span:nth-of-type(2) {
        font-family: $important-font;
        font-size: 1.5rem;
        padding: 0.25rem 0.5rem;
        min-width: 3rem;
        text-align: right;
        border-left: solid 1px $primary;
      }
    }
  }
  .selectedCategory {
    background-color: $hover;
  }
}
