@import './style-variables.scss';

.transactionHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green-white;
  border: solid 1px $primary;
  margin: 1rem;
  width: 30rem;
  padding: 1rem;

  .transactionLine {
    border-bottom: solid 1px $dark;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 20rem;

    &:last-of-type {
      border: none;
    }
  }
}
