@import './style-variables.scss';

.spending-tracker {
  color: $dark;
  box-shadow: 2px 0 2px $accent;

  h3 {
    text-align: center;
    background-color: $primary;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }

  .add-button {
    width: 100%;
  }
}

.categoryLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  background-color: $green-white;
  border: solid 1px $primary;
  border-top: none;

  &:hover {
    background-color: $hover;
    cursor: pointer;
  }

  &:active {
    background-color: $primary-dark;
  }
}

@import './spending-history-accordion.scss';
