@import './fonts.scss';

$primary-font: 'Montserrat', sans-serif;
$accent-font: 'Alata', sans-serif;
$primary: #4cc26b;
$accent: #8cdea1;
$accent-text: #b0e8be;
$light: #bbe8ae;
$xlight: #e6fae9;
$dark: #005c17;
$shadow: #005c17;
$hover: #8cdea1;
$green-white: #f2faf4;
$primary-dark: #42a85d;

$forest-green: #007e10;
$mint-green: #bae4a7;
